li {
    text-decoration: none;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.comment-container, .comment-card {
    margin-top: 2em;
}

textarea {
    width: 100%;
}